@model UploadFile.Models.UploadedFile

@{
    ViewBag.Title = "FileInfo";
}

<h2>FileInfo</h2>
<p>Nazwa pliku to @Model.Filename</p>
<p>Rozszerzenie pliku to @Model.FileExtension</p>
<p>Rozmiar pliku to @Model.FileSize bajtów</p>

